@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    animation: scroll 15s linear infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    overflow: hidden;
    width: 150em;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slider-contain:hover{
    animation-play-state: paused;
  }